.navigation_menu ul{
    list-style: none;
    display: flex;
    padding-left: none;
    padding-left: 0;
}
.brand_logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.brand_logo img{
    width: 20px;
}
.navigation_menu ul li {
    padding: 0 20px 0 0;

}
.navigation_menu ul li:last-child{
    padding: 0;
}
.navigation_menu{
    display: flex;
    justify-content: space-between;
    margin: 0 30px;
}

.navigation_menu a{
    text-decoration: none;
    color: #333333;
}


.profil_icon, .cart_icon{
    width: 22px;
}
.right_header_section{
    display: flex;
    padding-left: 0;
}
.right_header_section li{
    color: rgba(0,0,0,var(--text-opacity));
    padding: 0 !important;
    padding-left: 10px !important;
}